# Bytecode files #
##################
__pycache__/
*.py[cod]
*$py.class

# Data files #
##################
data
depricated
*.dat

# Other files #
##################
*.vscode

# Setup files #
##################
*.bash